html {
    height: 100%;
}
body {
    height: 100%;
    background: url(../img/bg_texture.jpg);
    font: normal 1em 'fira_sanslight';
    color: #4a545d;
}

/*FOOTER STYLES STARTS
============================*/
.page-footer {
    background: #eff3f7 url(../img/gradient.png) top center no-repeat;
    font-family: 'fira_sanslight';
    color: #4f545d;
}
.page-footer .container {
    padding-top: 23px;
    position: relative;
}
.page-footer .copyfight {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}
/*LOG IN =====*/
.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}
.lock .lock-inner {
    display: block;
    height: 40px;
    font-family: 'fira_sansbook';
    font-size: 16px;
    line-height: 2.2;
    color: #4a545d;
    text-decoration: none;
    background: url(../img/lock-close.png) no-repeat;
    padding-left: 24px;
}
.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/lock-open) no-repeat;
}
/*FOOTER AT THE BOTTOM =====*/
.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto!important;
    /*overflow: hidden;*/
}
.wrapper:after {
    content: " ";
    height: 80px;
    display: block;
}
.page-foooter {
    min-width: 970px;
    height: 80px;
    margin-top: -80px;
}
/*FOOTER STYLES ENDS
============================*/
/*COMMON STYLES STARTS
============================*/
.container {
    width: 960px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.container:before,
.container-after,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.container-after,
.clearfix:after {
    clear:both;
}
/*COMMON STYLES ENDS
============================*/
